@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

*{

    font-family: 'JetBrains Mono', monospace;
    background-size: cover;
    background-color: black;
    scroll-behavior: smooth;
    color: white;
    user-select: none;

}


.nav-bar h1{

    position: relative;
    top: 10px;
    font-size: 2.0em;
    padding-left: 50px;
    text-decoration: underline;
    
}

.nav-bar h1:hover{

    text-shadow: 1px 1px 10px white; 

}

.nav-bar a{

    display: flex;
    position: relative;
    top: -53px;
    float: right;
    font-size: 1.1em;
    text-decoration: none;
    border: 2px solid rgb(235 241 235);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
    margin-right: 50px;

}


.nav-bar a:hover{

    color: black;
    background-color: white;
    background-position: center;
    padding: 15px;
    opacity: 10;

}


@media (min-width: 1px) and (max-width: 800px) {

    .nav-bar h1{

        text-align: center;
        height: 120px;
        margin-right: 50px;

    }

    .nav-bar a{

        float: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: -5px;
        margin-bottom: 90px;
        padding: 15px;
        min-width: 50px;
        margin-right: 150px;
        margin-left: 150px;
        

    }

}
